{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "importOrder": ["^@fu/(.*)$", "^[./]"], // replace @fu with Nx libraries prefix
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
